body{
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #b85959;
    }
    
    header {
        background: #8B0000;
        color: rgb(60, 32, 32);
        padding: 20px;
    }
    
    .hero {
        background: url('india-heritage.jpg') no-repeat center center/cover;
        color: rgb(192, 158, 158);
        padding: 100px 20px;
        font-size: 24px;
    }
    h1{
        text-align:center;
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    .heritage-site {
        background: rgb(198, 122, 122);
        margin: 15px;
        padding: 15px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .heritage-site img {
        width: 100%;
        border-radius: 10px;
    }
   
    
}